h1{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}
.art-input-container{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    gap: 25px;
}

.art-input{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid black;
}
.btn-add{
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background-color: gray;
    color: white;
    cursor: pointer;
}
.art-tasks-container{
    height: 300px;
    overflow-y: scroll;
}
.art-task{
    display: block;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 10px auto;
    width: 450px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    font: bold;
}

.btn-remove{
    cursor: pointer;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: gray;
    color: white;
}